body {
	background: #80a4ab;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

*{
	font-family: sans-serif;
	box-sizing: border-box;
}



form{
    /* background: rgba(27,31,34); */
    width: 450px;
    margin: 65px auto;
    max-width: 97%;
    border-radius: 4px;
    padding: 55px 30px;
    /* border: 1px solid white; */
    
  }

h2 {
	text-align: center;
	margin-bottom: 40px;
}

input {
	display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
}
form label{
    display: block;
    /* font-size: 16px; */
    margin-bottom: 16px;
    font-family: Verdana;
  }
  .imgBG{
    background-image: url('./assets/dc-home.png');
    background-size: cover;

  }

button {
	float: right;
	background: #555;
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
}
button:hover{
	opacity: .7;
}
.error {
   background: #F2DEDE;
   color: #A94442;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

h1 {
	text-align: center;
	color: #fff;
}

a {
	float: right;
	background: #555;
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
	text-decoration: none;
}
a:hover{
	opacity: .7;
}